#img1 {
    margin-top: 90px;
    margin-bottom: 40px;
    width: 228px;
    height: 90px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Arial, sans-serif;
 }

#img2 {
    margin-top: 53px;
    margin-bottom: 40px;
    width: 280px;
    height: 95px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#search {
    width: 565px;
    height: 34px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    padding-left: 30px;
    background: url(images/icon_search.svg) no-repeat left;
    background-size: 18px;
    background-position-x: 10px;
    background-position-y: 7px ;
    line-height: 22px;

    margin-bottom: 8px;
}

.div{
    text-align: center;
}

#submit {
    margin-top: 25px;
    border: 0px;
    width: 110px;
    height: 30px;
    background-color: rgb(248, 248, 248);
}

#submit2 {
    margin-top: 25px;
    border: 0px;
    width: 110px;
    height: 30px;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

#lucky {
    margin-top: 25px;
    margin-left: 5px;
    height: 30px;
    width: 135px;
    border: 0px;
    background-color: rgb(248, 248, 248);
}



#imagesMenu {
    padding: 10px;
    position: absolute;
    top: 8px;
    right: 195px;
    font-size: 12px;
    text-decoration:none
}

#advancedMenu {
    padding:10px;
    position: absolute;
    top: 8px;
    right: 90px;
    font-size: 12px;
    text-decoration:none
}

#mainMenu {
    padding: 10px;
    position: absolute;
    top: 8px;
    right: 195px;
    font-size: 12px;
    text-decoration:none
}

#mainMenu2 {
    padding:10px;
    position: absolute;
    top: 8px;
    right: 90px;
    font-size: 12px;
    text-decoration:none
}

  
#more {
    padding: 10px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 9px;
    right: 56px;
}

#cat {
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    top: 2px;
    right: 7px;
    position: absolute;
}

#google {
    width: 65px;
    height: 23px;
    position: absolute;
    top:18px;
    left: 18px;
}

#advS {
    color: rgb(221, 75, 57);
    position: absolute;
    top: 78px;
    left: 45px;
    font-size: 20px;
}

#line1 {
    margin-top: 130px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    
}

#line2 {
    margin-top: 335px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    margin-left: 25px;
}

.head {
    font-size: 17px;
    position: absolute;
    top: 174px;
    left: 45px;
    color: #333333;
}

.subhead {
    font-size: 14.5px;
    position: absolute;
    left: 45px;
    color: #222222;
}

#sh1 {
    top: 215px;
}

#sh2 {
    top: 255px;
}

#sh3 {
    top: 295px;
}

#sh4 {
    top: 335px;
}

#sh5 {
    top: 375px;
}

.adv {
    position: absolute;
    text-align: left;
    left: 230px;
    width: 571.33px;
    height: 28.33px;
}

.range {
    position: absolute;
    top: 376px;
    width: 260.33px;
    height: 28.33px;
}

#advsearch1 {
    top: 216px;
}

#advsearch2 {
    top: 256px;
}

#advsearch3 {
    top: 296px;
}

#advsearch4 {
    top: 336px;
}

#advsearch5 {
    left: 230px;
}

#advsearch6 {
    left: 542px;
}

#to {
    position: absolute;
    top: 388px;
    left: 515px;
    font-size: 13px;
}

#submit3 {
    position: absolute;
    top: 420px;
    right: 470px;
    background-color: rgb(77, 144, 254);
    color: white;
    border: 0px;
    font-size: 12px;
    padding: 7px;
    border-radius: 3px;
}

.img {
    color: rgb(66,133, 244);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 720px;
    top: 125px;
    text-align: left;
    display: flex;
}

.reminder_head {
    font: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    position: absolute;
    top: 174px;
    right: 250px;
    font-weight: bold;
}

.reminder_subhead {
    color:#555555;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    right: 330px;
}

#rsh1 {
    top: 225px;
    right: 330px;
}

#rsh2 {
    top: 265px;
    right: 325px;
}

#rsh3 {
    top: 305px;
    right: 252px;
}

#rsh4 {
    top: 340px;
    right: 188px;
}

#rsh5 {
    top: 380px;
    right: 105px;
}

.reminder {
    columns: #666666;
    font-size: 11px;
    font-family: monospace;
    position: absolute;
    opacity: .75;
}

#r1 {
    right: 194px;
    top: 225px;
}

#r2 {
    right: 245px;
    top: 265px;
}

#r3 {
    right: 120px;
    top: 305px;
}

#r4 {
    right: 310px;
    top: 355px;
}

#r5 {
    right: 256px;
    top: 395px;
}